<div class="login-form">
    <form id="login-profile"  #f='ngForm'>
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input id="uname" name="uname" type="text" class="form-control" placeholder="Username is admin" required="required" ngModel>
        </div>
        <div class="form-group">
            <input id="upass"  name="upass"type="password" class="form-control" placeholder="Password is 12345" required="required" ngModel>
        </div>
        <div class="form-group">
            <button (click) = 'logIn()' class="btn btn-primary btn-block" >Log in</button>
        </div>

    </form>
    <a href="/signup">New member? Signup here</a>
</div>
